---
BasedOnStyle:           Google
IndentWidth:            4
SpacesInParentheses     true
SpacesInSquareBrackets  true
TabWidth:               4
UseTab:                 UT_ForIndentation
---
Language:               Cpp

