---
BasedOnStyle:           Google
IndentWidth:            4
SpacesInParentheses:    true
SpacesInSquareBrackets: true
TabWidth:               4
UseTab:                 ForIndentation
---
Language:               Cpp
ColumnLimit:            120

